.zwd_header{width: 100%;height:44px;background: #041f3a;position: relative;z-index: 999;}
.zwd_h_auto{width: 100%;margin: 0 auto;}
.zwd_logo{float: left;height: 44px;margin-left: 10px;}
.zwd_logo img{height: 44px;}
.zwd_nav{width: 100%;position: absolute;left: 0px;top:44px;z-index: 99;background: #f6f7f7;display: none;}
.zwd_nav_item{width: 100%;transition: all 0.25s linear;}
.zwd_nav_item a{display: block;line-height: 40px;color:#595757;text-align: left;font-size: 16px;height: 40px;padding-left: 10px;}
.zwd_nav_item a:hover{color: #0a5ecc;background: #FFFFFF;text-decoration: none;}
.zwd_active a{color: #0a5ecc;background: #FFFFFF;}
.zwd_icon{display: inline-block;background: url(../images/icon.png) no-repeat;}
.zwd_icon_user{width: 30px;height: 30px;margin-right: 8px;vertical-align:middle;background-position:-245px 0;background-size: 350px;}
/*首页div*/
.zhuyediv{float:left;}
/*首页div*/
.zwd_nav_item_setup{display: none;}
.zwd_btn_menu{display: block;position: absolute;top: 0px;right: 0px;}
.zwd_inner{width: 44px;height: 44px;}
.zwd_line{position: absolute;top: 20px;left: 12px;width: 20px;height: 3px;background: #FFFFFF;transition: all 0.5s linear;}
.zwd_line_01{margin-top: -7px;}
.zwd_line_03{margin-top: 7px;}












