a:hover{text-decoration: none;}
a:active{text-decoration: none;}
/*nav*/
.zwd_header{width: 100%;height: 70px;background: #041f3a;position: fixed;z-index: 999;}
.zwd_h_auto{width: 1000px;height: 70px;margin: 0 auto;background: #041f3a;}
.zwd_logo{float: left;height: 70px;}
.zwd_logo img{height: 70px;}
.zwd_nav{float: right;height: 70px;}
.zwd_nav_item{float: left;width: 76px;transition: all 0.25s linear;}
.zwd_nav_item a{display: block;line-height: 70px;color:#75abda;text-align: center;font-size: 16px;}
.zwd_nav_item a:hover{color: #FFFFFF;text-decoration: none;}
.zwd_active a{color: #FFFFFF;text-decoration: none;}
.zwd_nav_item_user{margin-left: 20px;border-left: 1px solid #284763;}
.zwd_nav_item_spec{width: 143px;border-left: 1px solid #284763;}
.zwd_nav_item_spec a{color: #FFFFFF;}
.zwd_nav_item_setup{background: #0554bc;}
.zwd_nav_item_spec:hover{background: #0b3055;}
.zwd_nav_item_setup:hover{background: #1d76eb;}
.zwd_icon{background:url(../images/icon.png) no-repeat;display: inline-block;}
.zwd_icon_user{width: 30px;height: 30px;margin-right: 8px;background-position:-52px -7px;vertical-align: middle;}
.zwd_btn_menu{display: none;}
/*首页div*/
.zhuyediv{float:left;margin-top: 70px;width: 100%;}
/*banner*/
.zwd_banner{position: relative;}
.zwd_content{width: 100%;height: 600px;overflow: hidden;background: #FFFFFF;}
.zwd_banner_item{width: 100%;height: 100%;position: absolute;left: 0px;top: 0px;display: none;}
.zwd_banner_inner{font-size: 26px;width: 100%;height: 100%;color: #FFFFFF;}
.zwd_banner_one{background: url(../images/bg.jpg) no-repeat center center;background-size: cover;}
.zwd_banner_1000{width: 1000px;margin: 0 auto;}
.zwd_banner_1000 img{margin:52px 0px 20px;}
.zwd_banner_two{background: url(../images/1347.jpg) no-repeat center center;background-size: cover;}
.zwd_banner_three{background: url(../images/1338.jpg) no-repeat center center;background-size: cover;}
.zwd_link{display: block;width: 100%;height: 100%;}
.zwd_banner_four{background: url(../images/1329.jpg) no-repeat center center;background-size: cover;}
.zwd_banner_five{background: url(../images/1314.jpg) no-repeat center center;background-size: cover;}
.zwd_dis{display: block;}
.zwd_trigger{width: 100%;margin:0 auto;position: absolute;bottom: 110px;height: 20px;margin-left: -5px;}
.zwd_trigger_1000{width: 1000px;margin: 0 auto;}
.zwd_trigger_item{padding: 5px;float: left;display: block;}
.zwd_trigger_item span{display: block;width: 10px;height: 10px;opacity: 0.4;border-radius: 14px;background:#FFFFFF;}
.zwd_opa span{opacity: 1;}
.zwd_leftbtn{width: 120px;height: 538px;position: absolute;left: 0;top: 0;}
.zwd_rightbtn{width: 120px;height: 538px;position: absolute;right: 0;top: 0;}
.zwd_lbtn{width: 32px;height: 62px;position: absolute;top: 50%;margin-top: -31px;right: 0;background: url(../images/icon.png) no-repeat -523px 0px;opacity: 0;}
.zwd_rbtn{width: 32px;height: 62px;position: absolute;top: 50%;margin-top: -31px;left: 0;background: url(../images/icon.png) no-repeat -563px 0px;opacity: 0;}
.btn_setup{display: none;}
.zwd_quick{width: 100%;height: 62px;z-index: 1;position: relative;background: #f6f7f7;}
.zwd_quick_nav{position: relative;top: -62px;width: 970px;height: 74px;padding: 25px 15px;font-size: 16px;background: #FFFFFF;overflow: hidden;margin: 0 auto;box-sizing: initial;transition: all 0.25s linear;}
.zwd_info{float: left;padding-left: 18px;padding-right: 22px;line-height: 32px;color: #353842;margin-top: 5px;}
.zwd_num{display: block;font-size: 26px;text-align: right;margin-bottom: 3px;color: #0a5ecb;}
.zwd_btn:link{float: right;width: 240px;height: 52px;line-height: 52px;margin: 11px 14px 0px;border-radius: 5px;font-size: 20px;text-align: center;color:#FFFFFF;text-decoration: none;transition: all 0.25s linear;}
.zwd_zcbtn:link{background: #0a5ecb;}
.zwd_zcbtn:hover{color: #FFFFFF;background: #1d76eb;}
.zwd_zcbtn:visited{color: #FFFFFF;text-decoration: none;}
.zwd_dlbtn:link{background: #FFFFFF;border:1px solid #0a5ecb ;color:#0a5ecb;}
.zwd_dlbtn:hover{background:#0a5ecb;color: #FFFFFF;}
.zwd_onestop{position: relative;min-width: 1000px;overflow: hidden;padding-top: 60px;background: #f6f7f7;}
.zwd_h2{font-size: 36px;color: #353842;text-align: center;width: 100%;}
.zwd_h3{font-size: 28px;text-align: center;width: 100%;line-height: 70px;color: #595757;}
.zwd_line_div{display: block;position: relative;margin-top: 75px;}
.zwd_web_img{max-width: 100%;vertical-align:top;}
.zwd_mobile_img{display: none;}
.zwd_dotwrap{width: 34px;height: 34px;position: absolute;}
.zwd_dot{width: 28px;height: 28px;border-radius: 34px;display: block;position: relative;left: -50%;top:-50%;border: 3px solid #c8c9c9;text-align: center;background: #ffffff;transition: all 0.3s linear;box-sizing: initial;}
.zwd_dot i{position: absolute;left: 50%;top: 50%;width: 0px;height: 0px;border-radius: 4px;background: #0a5ecb;transition: all 0.3s;}
.zwd_dot_hover{border-color: #0a5ecb;}
.zwd_dot_hover i{width: 12px;height: 12px;border-radius: 6px;margin: -6px 0px 0px -6px;}
.zwd_dot_01{left: 13.1%;top: 73%;}
.zwd_dot_02{left: 28%;top: 79.8%;}
.zwd_dot_03{left: 42.2%;top: 60.4%;}
.zwd_dot_04{left: 56.5%;top: 40.5%;}
.zwd_dot_05{left: 71%;top: 31.4%;}
.zwd_dot_06{left: 85.3%;top: 15%;}












