input {
	outline: none;
}

.zjq_main {
	width: 1000px;
	overflow: hidden;
	margin: 0 auto;
	background: #fff;
	border: 1px solid #dfdfdf;
}

.zjq_left {
	width: 206px;
	/*border: 1px solid #dfdfdf;*/
	border-right: 0px;
	float: left;
	background: #fff;
}

.zjq_title {
	height: 38px;
	line-height: 36px;
	border-top: #dfdfdf 1px solid;
	border-bottom: #f5f5f5 1px solid;
	margin-top: 12px;
	background: #f5f5f5;
	padding: 0 10px;
}

.zjq_content {
	margin-top: 2px;
	height: 144px;
}

.zjq_content a {
	color: #393b3f;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	display: block;
}

.zjq_content a:hover {
	background: #e0f7ff;
}

.zjq_content a.hover {
	background: #e0f7ff;
}

.zjq_content a em {
	display: block;
	height: 16px;
	width: 16px;
	float: left;
	margin: 10px 0 0 10px;
	background-image: url(../images/icon02.png);
}

.zjq_content a span {
	display: block;
	float: left;
	height: 36px;
	line-height: 36px;
	margin-left: 10px;
}

.zjq_right {
	width: 792px;
	overflow: hidden;
	float: left;
	padding: 0 35px 0 35px;
	background: #fff;
	border-left: 1px solid #dfdfdf;
	padding-bottom: 30px;
}


/*account*/

.account_title {
	width: 720px;
	height: 59px;
	line-height: 59px;
	color: #464646;
	border-bottom: #ededed 3px solid;
	font-size: 22px;
	font-weight: 400;
}

.account_con1 {
	width: 720px;
	height: 124px;
	margin-top: 20px;
}

.account_con1_img {
	width: 120px;
	height: 120px;
	float: left;
	border: 1px solid #dfdfdf;
}

.account_con1_img img {
	display: block;
	border: 1px solid #fff;
}

.account_con1_text {
	width: 344px;
	height: 121px;
	float: left;
	margin-left: 18px;
}

.zjq_1 {
	width: 344px;
	height: 25px;
}

.zjq_1 span {
	width: 110px;
	height: 22px;
	line-height: 22px;
	font-size: 16px;
	font-weight: 700;
	color: #1e5494;
}

.zjq_1 e {
	margin-left: 3px;
	color: #b6b6b6;
	line-height: 20px;
}

.zjq_2 {
	height: 30px;
	width: 344px;
	margin-top: 8px;
}

.zjq_3 {
	width: 344px;
	height: 21px;
	margin-top: 8px;
}

.zjq_3 span img {
	display: block;
	float: left;
	margin-right: 14px;
}

.zjq_3 a {
	color: #0a5ecc;
	line-height: 20px;
}

.zjq_3 a:hover {
	color: #0086ff;
}

.zjq_4 {
	width: 344px;
	height: 30px;
	line-height: 30px;
	color: #393b3f;
}

.zjq_4 font {
	color: #0a5ecc;
}

.account_con1_tab {
	width: 721px;
	height: 50px;
	margin-top: 30px;
	margin-bottom: 20px;
	border: 1px solid #dfdfdf;
}

.account_con1_tab a {
	display: block;
	width: 239px;
	height: 48px;
	float: left;
	border-right: 1px solid #dfdfdf;
	color: #393b3f;
	cursor: pointer;
	background: #f5f5f5;
	border-bottom: 2px solid transparent;
}

.account_con1_tab a i {
	background-image: url(../images/download.png);
	display: block;
	width: 30px;
	height: 24px;
	margin-right: 8px;
	margin-top: 12px;
	float: left;
}

.account_con1_tab a span {
	display: block;
	float: left;
	margin-top: 12px;
	height: 24px;
	line-height: 22px;
	font-size: 16px;
}

.account_con1_tab a.hover {
	background-color: #fff;
	color: #393b3f;
	text-decoration: none;
	border-bottom: 2px solid #0086ff;
}

.account_con1_tab a:hover {
	background-color: #fff;
	color: #393b3f;
	text-decoration: none;
	border-bottom: 2px solid #0086ff;
}

.account_con1_con {
	width: 684px;
	height: 264px;
	margin-left: 37px;
}

.account_con1_con ul {
	height: 30px;
	line-height: 30px;
}

.account_con1_con ul li {
	width: 342px;
	height: 30px;
	line-height: 30px;
	color: #393b3f;
	float: left;
}

.account_con1_con div {
	font-size: 30px;
	font-weight: bolder;
	height: 50px;
	line-height: 48px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: #EDEDED 1px dashed;
}

.account_con1_con p {
	line-height: 28px;
	color: #393b3f;
}

.account_con1_con a.know {
	margin-top: 20px;
	border-radius: 3px;
	text-align: center;
	height: 40px;
	line-height: 38px;
	font-size: 16px;
	padding: 0 18px;
	min-width: 138px;
	background: #fe5f05;
	border: #fe5f05 1px solid;
	color: #FFF!important;
	display: inline-block;
	vertical-align: top;
}

table,
th,
td {
	border: 1px solid #dfdfdf;
	vertical-align: middle;
}

table {
	width: 720px;
}

td {
	margin-left: 10px;
	padding-left: 8px;
}

tr:hover {
	background: #E7F4FB;
}

td span {
	display: block;
	height: 32px;
	line-height: 32px;
}

td a {
	color: #0a5ecc;
}

td a:hover {
	color: #0086ff;
	text-decoration: underline;
}


/*email*/

.email_tab {
	width: 720px;
	height: 53px;
	background-color: #f8f8f8;
	border-bottom: #e0e0e0 1px solid;
	padding: 12px 12px 0;
	margin-bottom: 20px;
}

.email_tab span {
	display: block;
	width: 82px;
	height: 41px;
	float: left;
	text-align: center;
	line-height: 41px;
	margin-right: 10px;
	border: 1px solid transparent;
	border-bottom: 0;
	color: #0a5ecc;
	cursor: pointer;
}

.email_tab span:hover {
	background: #efefef;
	color: #50a9f9;
}

.email_tab span.hover {
	border: #e0e0e0 1px solid;
	border-bottom: 0;
	background-color: #FFF;
	color: #000;
}

.email_tab_con div.email_1 {
	color: #000;
	width: 710px;
	height: 36px;
	border: 1px solid #e7d7a6;
	background: #fefcef;
	padding-left: 10px;
	line-height: 36px;
	height: 36px;
}

.email_tab_con div.email_1 font {
	color: #ff9900;
}

.email_tab_con p {
	width: 720px;
	height: 56px;
}

.email_tab_con p span {
	width: 120px;
	height: 56px;
	padding-left: 30px;
	display: block;
	float: left;
}

.email_tab_con p input {
	display: block;
	float: left;
	width: 230px;
	height: 34px;
	line-height: 19px;
	padding: 6px 5px;
	background: #FFF;
	border: #adb9c1 1px solid;
	margin-left: 10px;
}

.email_tab_con button.email_2 {
	background: #0a5ecc;
	border: none;
	height: 42px;
	min-width: 138px;
	padding-bottom: 2px;
	color: #FFF!important;
	line-height: 38px;
	font-size: 16px;
	padding: 0 18px;
	display: inline-block;
	vertical-align: top;
	border-radius: 3px;
	margin-top: 15px;
	margin-left: 130px;
}

.email_tab_con button.email_2:hover {
	cursor: pointer;
	background: #2f76d3;
}

.email_tab_con em {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 auto 25px;
	margin-top: 70px;
	background: url(../images/download.png) 0 -490px;
}

.email_tab_con aaa {
	display: block;
	width: 720px;
	line-height: 24px;
	text-align: center;
	color: #b6b6b6;
	text-decoration: none;
}

.email_tab_con aaa a:hover {
	text-decoration: underline;
	color: #50a9f9;
}

.email_3 {
	background-color: #ffc;
	border: #ffdd58 1px solid;
	padding: 10px;
	margin-bottom: 20px;
	position: relative;
	word-break: break-all;
	height: 48px;
}

.email_3 b {
	display: inline-block;
	height: 26px;
	width: 26px;
	background-image: url(../images/download.png);
	background-position: -930px -2170px;
	float: left;
	margin-right: 5px;
}

.email_3 en {
	display: block;
	float: left;
	margin-top: 5px;
}

.email_4 span {
	display: block;
	float: left;
	margin-left: 30px;
	width: 130px;
	line-height: 48px;
}

.email_4 b {
	display: block;
	float: left;
	line-height: 48px;
}

.email_4 ee {
	display: block;
	float: left;
	width: 40px;
	height: 26px;
	border: 1px solid #dfdfdf;
	margin-top: 11px;
	margin-left: 10px;
	text-align: center;
	line-height: 24px;
}


/*cashin*/

.account_title a {
	display: block;
	font-size: 14px;
	float: right;
}

.account_title a:hover {
	text-decoration: underline;
}

.cashin_lider {
	margin-top: 20px;
	width: 720px;
	height: 38px;
	border-color: #f9e7c2;
	color: #fe5f05;
	background: #f9e7c2;
	line-height: 38px;
	padding-left: 10px;
}

.cashin_lider a {
	display: inline-block;
	margin-left: 7px;
	color: #0a5ecc;
}

.cashin_lider a:hover {
	color: #0086ff;
	text-decoration: underline;
}

.cashin_guocheng {
	width: 720px;
	height: 121px;
	margin-bottom: 34px;
}

.cashin_guocheng ul {
	position: relative;
	top: 30px;
	width: 66%;
	border-top: 2px solid #BBBCC3;
	margin: 0 auto;
}

.cashin_guocheng ul li {
	position: absolute;
	left: 0;
	top: -14px;
	width: 90px;
	height: 64px;
	margin-left: -45px;
	text-align: center;
	z-index: 11;
}

.cashin_guocheng ul li font.step {
	width: 26px;
	height: 26px;
	display: block;
	background: #BBBCC3;
	margin: 0 auto;
	margin-bottom: 18px;
	line-height: 26px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
}

p.cashin_title {
	width: 720px;
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
	font-size: 18px;
}

.cashin_tab {
	width: 720px;
	height: 180px;
	margin-top: 40px;
	margin-left: 80px;
}

.cashin_tab div {
	float: left;
	width: 238px;
	height: 138px;
	margin: 20px;
	border: 1px solid #adb9c1 !important;
	text-align: center;
}

.cashin_tab div span {
	display: block;
	width: 60px;
	height: 46px;
	margin: 0 auto;
	margin-bottom: 15px;
	margin: 23px auto 16px;
	background-image: url(../images/icon2.png);
}

.cashin_tab font {
	display: block;
	color: #333;
	font-size: 16px;
}

.cashin_tab hh {
	display: block;
	color: #696969;
}

.cashin_tab div.zjq_div:hover {
	background: #F5FDFF;
	border: 1px solid #60ACFA !important;
}


/*cachout*/

.cachout_con {
	width: 720px;
	height: 871px;
}

.cachout_con div {
	height: 56px;
}

.cachout_con div font {
	display: block;
	float: left;
	width: 120px;
	margin-left: 30px;
	font-size: 14px;
	line-height: 56px;
	height: 56px;
}

.cachout_con div b {
	width: 570px;
	height: 56px;
	float: left;
	display: block;
	font-weight: inherit;
	line-height: 56px;
}

.cachout_con div b span {
	display: inline-block;
	float: left;
	margin-top: 12px;
	margin-right: 10px;
	position: relative;
	height: 32px;
	line-height: 31px;
	padding: 0 10px;
	border: #adb9c1 1px solid;
	cursor: pointer;
	font-size: 14px;
}

.cachout_con div b span:hover {
	background-color: #eaf9ff;
	border: #4c78b9 1px solid;
	cursor: pointer;
}

.cachout_con div b em {
	display: block;
	width: 11px;
	height: 11px;
	line-height: 0;
	font-size: 0;
	background: url(/images/zf2.png) no-repeat -840px -1830px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.cachout_con div b input {
	display: inline-block;
	vertical-align: top;
	width: 215px;
	padding-right: 20px;
	height: 32px;
	line-height: 17px;
	padding: 3px 5px;
	background: #FFF;
	border: #adb9c1 1px solid;
	font-size: 14px;
	margin-top: 12px;
}

.cachout_con div b i {
	color: orange;
	font-weight: bold;
	margin-top: 20px;
	display: inline-block;
}

.cachout_con div b t {
	display: inline-block;
	margin-top: 5px;
	color: #a5a9af;
}

.cachout_con div b t a {
	color: #0a5ecc;
}

.cachout_con div b t a:hover {
	color: #0086ff;
	text-decoration: underline;
}

.cachout_con div b ab {
	display: inline-block;
	float: left;
	margin-top: 12px;
	margin-right: 10px;
	height: 32px;
	line-height: 31px;
	padding: 0 10px;
	border: #adb9c1 1px solid;
	cursor: pointer;
	font-size: 14px;
	background: #f2f2f2;
	color: #999;
}

.cachout_con div b img {
	display: inline-block;
	margin-top: 15px;
}

.cachout_con div b a {
	color: #0a5ecc;
}

.cachout_con div b a:hover {
	color: #0086ff;
	text-decoration: underline;
}

.cachout_con div b haha {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	background: url(../images/zf2.png) no-repeat -530px -430px;
	vertical-align: middle;
	margin: 15px 5px 0 5px;
}

div.zjq_requce {
	width: 720px;
	height: 107px;
	margin-bottom: 30px;
	border-bottom: 1px solid #ededed;
}

div.zjq_requce a {
	margin: 50px 0 0 155px;
	display: block;
	width: 138px;
	height: 40px;
	line-height: 38px;
	font-size: 16px;
	padding: 0 18px;
	min-width: 100px;
	background: #0a5ecc;
	border: #0a5ecc 1px solid;
	color: #FFF!important;
	text-align: center;
	border-radius: 3px;
}

div.zjq_requce a:hover {
	cursor: pointer;
}

.cachout_con p {
	width: 720px;
	height: 28px;
}

.cachout_con p a {
	cursor: pointer;
	color: #0a5ecc;
}

.cachout_con p a:hover {
	color: #0086ff;
	text-decoration: underline;
}


/*currency-exchange*/

.cachout_con div b span d {
	background-image: url(../images/zf2.png);
	display: inline-block;
	margin-top: 7px;
	width: 17px;
	height: 14px;
}

.cachout_con div b span f {
	background: url(../images/zf2.png) -560px -1880px;
	margin: 0 5px;
	margin-top: 10px;
	display: inline-block;
	width: 14px;
	height: 10px;
}

.cachout_con div b span g {
	display: inline-block;
	margin-left: 5px;
}


/*cachlist*/

.cachlist_tab {
	width: 720px;
	height: 53px;
	background-color: #f8f8f8;
	border-bottom: #e0e0e0 1px solid;
	padding: 12px 12px 0;
	margin-bottom: 20px;
}

.cachlist_tab span {
	display: block;
	width: 82px;
	height: 41px;
	float: left;
	text-align: center;
	line-height: 41px;
	margin-right: 10px;
	border: 1px solid transparent;
	border-bottom: 0;
	color: #0a5ecc;
	cursor: pointer;
}

.cachlist_tab span:hover {
	background: #efefef;
	color: #50a9f9;
}

.cachlist_tab span.hover {
	border: #e0e0e0 1px solid;
	border-bottom: 0;
	background-color: #FFF;
	color: #000;
}

.cachlist_tab_con1 {
	height: 26px;
	margin-bottom: 10px;
}

.cachlist_tab_con1 span {
	width: 88px;
	height: 24px;
	display: block;
	float: left;
	line-height: 25px;
	margin: 5px;
	background: #FFF;
	border: #adb9c1 1px solid;
	font-size: 14px;
}

.cachlist_tab_con1 span {
	width: 88px;
	height: 25px;
	display: block;
	float: left;
	margin: 5px;
	font-size: 14px;
	border: none;
	position: relative;
}

.cachlist_tab_con1 span input {
	width: 88px;
	height: 24px;
	display: block;
	line-height: 23px;
	background: #FFF;
	padding-left: 3px;
	border: #adb9c1 1px solid;
}

.cachlist_tab_con1 span b {
	width: 19px;
	height: 24px;
	display: block;
	cursor: pointer;
	background: url(../images/zf2.png) no-repeat 0 -210px;
	position: absolute;
	right: 1px;
	top: 1px;
}

.cachlist_tab_con1 span none {
	display: none;
	width: 88px;
	background: #FFF;
	border: #adb9c1 1px solid;
	border-top: none;
	position: absolute;
	top: 24px;
	left: 0px;
	padding: 3px 0;
}

.cachlist_tab_con1 span none a {
	display: block;
	line-height: 24px \9;
	color: #393b3f;
	border-top: #fff 1px solid;
	border-bottom: #fff 1px solid;
	overflow: hidden;
	padding: 0 5px;
}

.cachlist_tab_con1 span none a:hover {
	background-color: #c8def9;
	color: #444;
	border-top: #b0c8e2 1px solid;
	border-bottom: #b0c8e2 1px solid;
	text-decoration: none;
}

.cachlist_table1 {
	width: 720px;
	height: 150px;
}

.cachlist_table1 table tr {
	background: #f5f5f5;
	height: 51px;
}

.cachlist_table1 table tr td {
	vertical-align: top;
}

.cachlist_table1 table tr div {
	line-height: 27px;
}

.cachlist_table1 table tr div i {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 3px;
	padding-top: 3px;
	background: url(../images/zf2.png) no-repeat -530px -430px;
}

.cachlist_table1 table.cachlist_table2 tr div.zjq_table2 {
	float: left;
	width: 350px;
}

table.cachlist_table2 {
	margin-top: 5px;
}

table.cachlist_table2 tr {
	height: 28px;
}

.cachlist_btm {
	width: 720px;
	height: 97px;
}

.cachlist_btm em {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 auto 25px;
	background: url(../images/zf2.png) 0 -490px;
}

.cachlist_btm p {
	text-align: center;
	color: #b6b6b6;
}
.zjq_tankuang{
	display: none;
	position: absolute;
	left: 50%; top: 50%; margin-left: -190px; margin-top: -93px;
	width: 380px; height: 187px;
}
.zjq_tankuang p{
	height: 34px;
    line-height: 32px;
    background-color: #0a5ecc;
    border: #305280 1px solid;
    border-bottom: 0;
    position: relative;
    padding-left: 13px;
    color: #fff;
}
.zjq_tankuang p span{
	width: 34px;
	height: 34px;
	float: right;
	margin-top: -1px;
	margin-right: -1px;
	background: url(../images/zf2.png) -200px -630px;
}
.zjq_tankuang p span:hover{
	background: url(../images/zf2.png) -240px -630px;
}
.zjq_tankuang div{
	width: 380px; height: 109px;
	padding: 30px;
	border-left: #305280 1px solid;
	border-right: #305280 1px solid;
    line-height: 26px;
}
.zjq_tankuang div em{
	line-height: 24px;
    background: url(../images/zf2.png) -930px -2170px no-repeat;
    padding-left: 36px;
    min-height: 26px;
    display: inline-block;
    float: left;
}
.zjq_tankuang div font{
	color: #637284;
	float: left;
	display: block;
}
.zjq_tankuang div a{
	display: inline-block;
	margin-left: 34px;
}
div.haha{
	border: #305280 1px solid;
    border-top: 0;
    height: 43px;
    line-height: 26px;
    padding: 8px 13px;
    background-color: #eaf0f7;
    position: relative;
    z-index: 1004;
    display: block;
}
div.haha mm{
	float: right;
	background: #0a5ecc;
    border: #0a5ecc 1px solid;
    color: #FFF!important;
    width: 50px;
    height: 26px;
    text-align: center;
    border-radius: 3px;
    line-height: 26px;
}




































