<div ng-controller="account">
	<div class="account_title">
		账户首页
	</div>
	<div class="account_con1">
		<div class="account_con1_img"><img src="../images/icon-3693348-120-1478660893_5EnldT4wxuiUkznkqINu3bE0.cn.jpg" width="118" height="118" /></div>
		<div class="account_con1_text">
			<div class="zjq_1">
				<span>18801359539</span>
				<e>(富途帐号/牛牛号：3693348)</e>
			</div>
			<div class="zjq_2"></div>
			<div class="zjq_3">
				<span>
					<img src="../images/g11.png" width="16" height="16" />
					<img src="../images/g12.png" width="16" height="16" />
					<img src="../images/g13.png" width="16" height="16" />
					<img src="../images/g14.png" width="16" height="16" />
					<img src="../images/g15.png" width="16" height="16" />
					<img src="../images/g16.png" width="16" height="16" />
				</span>
				<a href="https://www.futunn.com/site/medal-info">关于牛牛勋章</a>
			</div>
			<div class="zjq_4">
				积分余额：<font>0</font>
			</div>
		</div>
	</div>
</div>