<div ng-controller="cachout">
	<div class="account_title">提取资金<a href="/#/setting/cachlist">历史记录</a></div>
	<div class="cachout_con">
		<div>
			<font>提取币种</font>
			<b>
				<span>提取港币<em></em></span>
				<span>提取美元<em></em></span>
			</b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">提取账户</font>
			<b style="height: 48px;"><input style="text" /></b>
		</div>
		<div style="height: 72px;">
			<font style="height: 72px;">可提金额</font>
			<b style="height: 72px; line-height: 25px;">
				<i>--</i>&nbsp;美元<br /><t>您有美元处于交易结算期，T+3日后可提，如有疑问请<a>联系客服</a></t>
			</b>
		</div>
		<div>
			<font>收款人</font>
			<b>
				<span>本人同名账户（18801359539）<em></em></span>
				<ab>非本人账户（暂不支持）</ab>
			</b>
		</div>
		<div>
			<font>收款银行</font>
			<b>
				<span>大陆银行<em></em></span>
				<span>香港银行<em></em></span>
				<span>香港境外银行<em></em></span>
			</b>
		</div>
		<div style="71px">
			<font style="71px">收款银行名</font>
			<b style="71px">
				<img src="../images/youzhen_logo.png" />
				<a target="_blank" href="https://www.futu5.com/faq/topic/tid/972" style="position: relative;top: -17px;left: 85px;">查看提款指引</a>
			</b>
		</div>
		<div>
			<font>银行卡种</font>
			<b>
				<span>绿卡通（借记卡）<em></em></span>
				<a style="float: left; display: block; margin-top: 15px; line-height: 15px; margin-left: 115px;">绿卡通</a>
				<haha></haha>
			</b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">收款人账户名</font>
			<b style="height: 48px;"><input type="text" /></b>
			<haha></haha>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">收款银行账号</font>
			<b style="height: 48px;"><input type="text" /></b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">联系地址</font>
			<b style="height: 48px;"><input type="text" placeholder="家庭住址（街道，门牌号）" /></b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">提取金额</font>
			<b style="height: 48px;"><input type="text" /></b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">提取手续费</font>
			<b style="height: 48px;">300港元/笔<a style="margin-left: 38px;">收费说明</a></b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">跨境手续费</font>
			<b style="height: 48px;">100-300港元/笔<a style="margin-left: 8px;">收费说明</a></b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">手机号码</font>
			<b style="height: 48px;"><input type="text" value="+86-188****9539" /></b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">到账时间</font>
			<b style="height: 48px;">电汇转账 预计到账时间为3个银行工作日（仅供参考，以银行实际处理时间为准）</b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">留言备注</font>
			<b style="height: 48px;"><input type="text" placeholder="选填" /></b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">同意声明</font>
			<b style="height: 48px;"><input type="checkbox" style="width: 15px; height: 15px; margin-top: 20px; margin-right: 5px;" />我同意《免责声明》并承担所有汇款费用</b>
		</div>
		<div class="zjq_requce">
			<a>申请提取</a>
		</div>
		<p>温馨提示：</p>
		<p>(1) 提取资金使用的银行账户开户人必须与富途证券账户同名，不支持提取到他人的银行账户。</p>
		<p>(2) 支票转账方式截止接收通知时间是工作日上午11：00，任何上午11：00后收到的通知将在次工作日处理。</p>
		<p>(3) 电汇转账方式截止接收通知时间是工作日上午11：00，任何上午11：00后收到的通知将在次工作日处理。</p>
		<p>(4) 银证转账方式截止接收通知时间是工作日下午15：00，任何下午15：00后收到的通知将在次工作日处理。</p>
		<p>(5) 可提取金额因为涉及与交易所交收（港股T+2、美股T+3），确切金额以客服通知结算系统的结果为准。</p>
		<p>(6) 如已提交提取申请，请到<a href="#/setting/cachlist">历史记录</a>中查询处理进度。</p>
	</div>
</div>