<div ng-controller="cashin" style="position: relative;">
	<div class="account_title">存入资金<a href="/#/setting/cachlist">历史记录</a></div>
	<div class="cashin_lider">
		抱歉您的账户尚未开通，暂时不能存入资金   <a>查看入金指引</a>
	</div>
	<div class="cashin_guocheng">
		<ul>
			<li>
				<font class="step" style="background: #0A5ECC;">1</font>
				<span class="step1">选择入金方式</span>
			</li>
			<li style="left: 50%;">
				<font class="step">2</font>
				<span class="step1">完成资金汇款</span>
			</li>
			<li style="left: 100%;">
				<font class="step">3</font>
				<span class="step1">通知富途查收</span>
			</li>
		</ul>
	</div>
	<p class="cashin_title">(1/3)选择币种</p>
	<div class="cashin_tab">
		<div class="zjq_div">
			<span style="background-position: 0 -196px;"></span>
			<font>我要存入港币</font>
			<hh>投资港股</hh>
		</div>
		<div class="zjq_div">
			<span style="background-position: -70px -196px;"></span>
			<font>我要存入美元</font>
			<hh>投资美股</hh>
		</div>
	</div>
	<div class="zjq_tankuang">
		<p>确认<span></span></p>
		<div><em></em><font>抱歉您的账户尚未开通，暂时不能存入资金  </font><a href="https://www.futu5.com/faq/topic287" target="_blank">查看入金指引</a></div>
		<div class="haha">
			<mm>确认</mm>
		</div>
	</div>
	<script>
		$('.zjq_div').click(function(){
			$('.zjq_tankuang').css('display','block')
		})
		$('.zjq_tankuang p span').click(function(){
			$('.zjq_tankuang').css('display','none')
		})
		$('.haha mm').click(function(){
			$('.zjq_tankuang').css('display','none')
		})
	</script>
</div>