<div ng-controller="cashin">
	<div class="account_title">存入资金<a href="/#/setting/cachlist">历史记录</a></div>
	<div class="cashin_lider">
		抱歉您的账户尚未开通，暂时不能存入资金   <a>查看入金指引</a>
	</div>
	<div class="cashin_guocheng">
		<ul>
			<li>
				<font class="step" style="background: #0A5ECC;">1</font>
				<span class="step1">选择入金方式</span>
			</li>
			<li style="left: 50%;">
				<font class="step">2</font>
				<span class="step1">完成资金汇款</span>
			</li>
			<li style="left: 100%;">
				<font class="step">3</font>
				<span class="step1">通知富途查收</span>
			</li>
		</ul>
	</div>
	<p class="cashin_title">(1/3)选择币种</p>
</div>