<div ng-controller="contact">
	<div class="zf_biao">
				<h3>联系富途</h3>
			</div>
			<div class="zf_mainn">
				<div class="zf_lianxi">
					<a href="http://map.baidu.com/?newmap=1&l=12&tn=B_NORMAL_MAP&s=con%26from%3Dalamap%26tpl%3Dmapcity%26wd%3D%E5%8C%97%E4%BA%AC%E4%BE%9B%E9%94%80%E5%AD%A6%E6%A0%A1%26c%3D131" title="点击查看富途证券详细地址" class="map001"></a>
				</div>
				<div class="zf_lianxi1">
					<em class="zf_em5"></em>
					<div class="zf_lianxi2">
						香港上环文咸西街14-20号盘谷银行大厦11楼全层<br>
						<span class="zf_red">请留意：是上环而非中环</span>
					</div>
					<div class="zf_bbn"></div>
				</div>
				<div class="zf_lainxi4">
					
					<em class="zf_em6"></em>
					<div class="zf_lianxi5">
						电话：&nbsp;&nbsp;深圳&nbsp;400 870 1818&nbsp;&nbsp;&nbsp;香港&nbsp;+852-2523 3588
						<br>
				传真：&nbsp;&nbsp;深圳&nbsp;0755-8663 6388&nbsp;&nbsp;&nbsp;香港&nbsp;+852-2523 6588
				<br>

				媒体联络：&nbsp;&nbsp;pr@futunn.com
				<br>
				合作联络：&nbsp;&nbsp;BD@futunn.com
				<br>
				内容合作：&nbsp;&nbsp;content@futunn.com
					</div>
					<div class="zf_bbn"></div>
				</div>
			</div>
</div>