<div ng-controller="currency-exchange">
	<div class="account_title">提取资金<a href="/#/setting/cachlist">历史记录</a></div>
	<div class="cachout_con">
		<div>
			<font>兑换类型</font>
			<b>
				<span><d style="background-position: -520px -1880px;"></d><g>港币</g><f></f><d style="background-position: -540px -1880px;"></d><g>美元</g><em></em></span>
				<span><d style="background-position: -540px -1880px;"></d><g>美元</g><f></f><d style="background-position: -520px -1880px;"></d><g>港币</g><em></em></span>
			</b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">兑出账户</font>
			<b style="height: 48px;"><input style="text" /></b>
		</div>
		<div>
			<font>可兑换金额</font>
			<b>港元</b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">兑换金额</font>
			<b style="height: 48px;"><input style="text" /></b>
		</div>
		<div>
			<font>兑换结果</font>
			<b>
				<font style="width: 85px; margin-left: 0px; font-weight: bold;">0.00 美元</font>
				<font style="width: 145px; margin-left: 0px; color: #a5a9af;">[7.85 HKD = 1 USD]</font>
				<a>关于汇率</a>				
			</b>
		</div>
		<div style="height: 48px;">
			<font style="height: 48px;">兑入账户</font>
			<b style="height: 48px;"><input style="text" /></b>
		</div>
		<div>
			<font>兑换费用</font>
			<b>免费</b>
		</div>
		<div class="zjq_requce">
			<a>申请兑换</a>
		</div>
		<p>常见问题</p>
		<p>1. 如何计算可兑换金额？港股T+2，美股T+3是什么意思？<a href="https://www.futu5.com/faq/topic/tid/283">查看详细说明</a></p>
		<p>2. 货币兑换什么时候可以到账，到账之后可以立即使用吗？ <a href="https://www.futu5.com/faq/topic/tid/283">查看详细说明</a></p>
	</div>
	
</div>