<div ng-controller="disclaimer">
	<div class="zf_biao">
				<h3>免责声明</h3>
			</div>
			<div class="zf_mainn">
				<p class="zf_mz">富途证券国际(香港)有限公司及香港交易所资讯服务有限公司均竭力确保所提供资讯的准确和可靠度，但不能保证其绝对准确和可靠，且亦不会承担因任何不准确或遗漏而引起的任何损失或损害的责任（不管是否侵权法下的责任或合约责任又或其他责任）</p>
				<p class="zf_mz">本网站包含的内容和信息乃根据公开资料分析和演释，该公开资料，乃从可靠来源搜集，这些分析和信息并未经独立核实和富途证券国际（香港）有限公司并不保证其准确性、完整性、实时性或者正确性。在本网站的行情价格、图、购买或出售评论应该谨慎作为参考使用，富途证券国际（香港）有限公司不应该被视为游说任何订户或访客执行任何交易，您须为所有跟随在本网站的评论和购买或出售执行交易负责。</p>
				<p class="zf_mz">富途证券国际（香港）有限公司之信息服务基于（现况）及（现有）提供，网站的信息和内容如有更改恕不另行通知。</p>
				<p class="zf_mz">富途证券国际（香港）有限公司有权但无此义务，改善或更正在本网站的任何部分之错误或疏失。用户在没有富途国际（香港）有限公司明确的书面同意情况下，不得以任何方式复制、传播、出售、出版、广播、公布、传递资讯内容或者利用在本网站的信息和内容作商业用途。投资股票和其它有价证券附带风险，富途证券国际（香港）有限公司鼓励您使用本网站的风险管理和教育工具，但富途证券国际（香港）有限公司不能并不会保证任何在本网站现在或未来的购买或出售评论和讯息会否带来赢利。过往之表现不一定反映未来之表现，富途证券国际（香港）有限公司不可能作出该保证及用户不应该作出该假设。</p>
				<p class="zf_mz">富途证券国际（香港）有限公司也许连接订户或访客至其有兴趣的网站，但富途证券国际（香港）有限公司只提供此服务给订户或访客并不为此安排负责。</p>
				<p class="zf_mz">富途证券国际（香港）有限公司对于任何从本网站有关服务所获得的资讯、内容或广告，不声明或保证其内容之正确性或可靠性。对于您透过本网站上之广告、资讯或邀约而展示、购买或取得之任何产品、资讯资料，本公司亦不负品质保证之责任。</p>
			</div>
			<div class="zf_biao">
				<h3>隐私声明</h3>
			</div>
			<div class="zf_mz1">
				<ul class="zf_mz2">
					<li class="zf_mz4">富途证券国际(香港)有限公司致力为客户提供最佳的证券服务。</li>
					<li class="zf_mz4">基于服务的需要，我们会使用客户的数据。我们明白到客户对于其个人资料的使用和保密极为关注。</li>
					<li class="zf_mz4">保护客户数据的安全和隐私是我们一直认真处理的事项。因此，富途证券国际(香港)有限公司订立了以下守则，矢志承诺对客户的数据和资料进行保密。</li>
					<li class="zf_mz4">个人名义的客户须不时地向富途证券国际(香港)有限公司提供个人资料（「资料」），以作《个人资料（私隐）条例》（香港法例第486章）所述用途。有关客户的数据（及其他数据）可用作以下用途：</li>
					<ul class="zf_mz3" style="list-style: disc;">
						<li>向客户提供之服务及设施之日常运作； </li>
						<li>进行信贷审查； </li>
						<li>协助其他机构进行信贷审查； </li>
						<li>确保客户的信用维持良好； </li>
						<li>设计供客户使用的金融服务或相关产品； </li>
						<li>向客户推广金融服务及相关产品（进一步详情请参阅下文第6款）； </li>
						<li>厘定拖欠客户或客户拖欠的债务金额； </li>
						<li>根据任何法例或规例之规定，符合作出披露之要求； </li>
						<li>及与任何前述部份有关的任何用途。 </li>
					</ul>
					<li class="zf_mz4">富途证券国际(香港)有限公司持有的客户有关的数据(及其他数据)将会保密，但富途证券国际(香港)有限公司可向以下人士披露所有数据(及其他数据)，而客户同意披露所有数据(及其他数据)亦是富途证券国际(香港)有限公司向客户提供服务、产品及数据之条件：</li>
					<ul class="zf_mz3" style="list-style: disc;">
						<li>向客户提供之服务及设施之日常运作； </li>
						<li>进行信贷审查； </li>
						<li>协助其他机构进行信贷审查； </li>
						<li>确保客户的信用维持良好； </li>
						<li>设计供客户使用的金融服务或相关产品； </li>
						<li>向客户推广金融服务及相关产品（进一步详情请参阅下文第6款）； </li>
						<li>厘定拖欠客户或客户拖欠的债务金额； </li>
						<li>根据任何法例或规例之规定，符合作出披露之要求； </li>
						<li>及与任何前述部份有关的任何用途。 </li>
					</ul>
					<li class="zf_mz4">富途证券国际(香港)有限公司持有的客户有关的数据(及其他数据)将会保密，但富途证券国际(香港)有限公司可向以下人士披露所有数据(及其他数据)，而客户同意披露所有数据(及其他数据)亦是富途证券国际(香港)有限公司向客户提供服务、产品及数据之条件：</li>
					<ul class="zf_mz3" style="list-style: disc;">
						<li>向客户提供之服务及设施之日常运作； </li>
						<li>进行信贷审查； </li>
						<li>协助其他机构进行信贷审查； </li>
						<li>确保客户的信用维持良好； </li>
						<li>设计供客户使用的金融服务或相关产品； </li>
						<li>向客户推广金融服务及相关产品（进一步详情请参阅下文第6款）； </li>
						<li>厘定拖欠客户或客户拖欠的债务金额； </li>
						<li>根据任何法例或规例之规定，符合作出披露之要求； </li>
						<li>及与任何前述部份有关的任何用途。 </li>
					</ul>
					<li class="zf_mz4">富途证券国际(香港)有限公司持有的客户有关的数据(及其他数据)将会保密，但富途证券国际(香港)有限公司可向以下人士披露所有数据(及其他数据)，而客户同意披露所有数据(及其他数据)亦是富途证券国际(香港)有限公司向客户提供服务、产品及数据之条件：</li>
					<ul class="zf_mz3" style="list-style: disc;">
						<li>向客户提供之服务及设施之日常运作； </li>
						<li>进行信贷审查； </li>
						<li>协助其他机构进行信贷审查； </li>
						<li>确保客户的信用维持良好； </li>
						<li>设计供客户使用的金融服务或相关产品； </li>
						<li>向客户推广金融服务及相关产品（进一步详情请参阅下文第6款）； </li>
						<li>厘定拖欠客户或客户拖欠的债务金额； </li>
						<li>根据任何法例或规例之规定，符合作出披露之要求； </li>
						<li>及与任何前述部份有关的任何用途。 </li>
					</ul>
					<li class="zf_mz4">富途证券国际(香港)有限公司持有的客户有关的数据(及其他数据)将会保密，但富途证券国际(香港)有限公司可向以下人士披露所有数据(及其他数据)，而客户同意披露所有数据(及其他数据)亦是富途证券国际(香港)有限公司向客户提供服务、产品及数据之条件：</li>
					<ul class="zf_mz3" style="list-style: disc;">
						<li>向客户提供之服务及设施之日常运作； </li>
						<li>进行信贷审查； </li>
						<li>协助其他机构进行信贷审查； </li>
						<li>确保客户的信用维持良好； </li>
						<li>设计供客户使用的金融服务或相关产品； </li>
						<li>向客户推广金融服务及相关产品（进一步详情请参阅下文第6款）； </li>
						<li>厘定拖欠客户或客户拖欠的债务金额； </li>
						<li>根据任何法例或规例之规定，符合作出披露之要求； </li>
						<li>及与任何前述部份有关的任何用途。 </li>
					</ul>
					
				</ul>

			</div>
</div>