<div ng-controller="help" style="background: #f0f0f0; width: 100%; height: 100%;">
	<div class="help_con1">
		帮助分类
	</div>
	<div class="help_con">
		<div>
			<a href="https://www.futu5.com/faq/category49"><span><img src="../images/log12.png" /><font>开户相关</font></span></a>
			<a href="https://www.futu5.com/faq/category51"><span><img src="../images/log10.png" /><font>资金相关</font></span></a>
			<a href="https://www.futu5.com/faq/category54"><span><img src="../images/log11.png" /><font>收费标准</font></span></a>
			<a href="https://www.futu5.com/faq/category50"><span style="border-right: none;"><img src="../images/log9.png" /><font>账户安全</font></span></a>
		</div>
		<div>
			<a href="https://www.futu5.com/faq/category55"><span><img src="../images/log8.png" /><font>港股市场</font></span></a>
			<a href="https://www.futu5.com/faq/category56"><span><img src="../images/log7.png" /><font>美股市场</font></span></a>
			<a href="https://www.futu5.com/faq/category229"><span><img src="../images/log6.png" /><font>A股市场</font></span></a>
			<a href="https://www.futu5.com/faq/category52"><span style="border-right: none;"><img src="../images/log5.png" /><font>股票转仓</font></span></a>
		</div>
		<div>
			<a href="https://www.futu5.com/faq/category139"><span style="border-bottom: none;"><img src="../images/log4.png" /><font>产品介绍</font></span></a>
			<a href="https://www.futu5.com/faq/category57"><span style="border-bottom: none;"><img src="../images/log3.png" /><font>股票学堂</font></span></a>
			<a href="https://www.futu5.com/faq/category334"><span style="border-bottom: none;"><img src="../images/log2.png" /><font>融资融券业务</font></span></a>
			<a href="https://www.futu5.com/faq/category366"><span style="border-bottom: none;border-right: none;"><img src="../images/log1.png" /><font>开放水平</font></span></a>
		</div>
	</div>
	<div class="help_con1" style="margin-top: 40px; margin-bottom: 20px;">
		常见问题
		<input type="text" />
	</div>
	<div class="help_con2">
		<ul>
			<li><a href="https://www.futu5.com/faq/topic123">如何从富途提取资金到银行卡？</a></li>
			<li><a href="https://www.futu5.com/faq/topic129">开户需要亲临香港么？ 内地人怎么开户？</a></li>
			<li><a href="https://www.futu5.com/faq/topic151">如果富途在经营上出现了问题，富途怎么保障我的资产安全？</a></li>
			<li><a href="https://www.futu5.com/faq/topic157">如何在大陆办理香港银行卡？</a></li>
			<li><a href="https://www.futu5.com/faq/topic158">银证转账-到账时间说明</a></li>
			<li><a href="https://www.futu5.com/faq/topic159">到账时间说明 - 香港银行同行汇款</a></li>
			<li><a href="https://www.futu5.com/faq/topic200">【港股】什么是竞价限价交易？</a></li>
			<li><a href="https://www.futu5.com/faq/topic203">【美股】什么是市价交易？</a></li>
			<li><a href="https://www.futu5.com/faq/topic267">什么是窝轮</a></li>
			<li><a href="https://www.futu5.com/faq/topic344">牛牛主面板</a></li>
			<li><a href="https://www.futu5.com/faq/topic404">4 特色功能</a></li>
			<li><a href="https://www.futu5.com/faq/topic409">1 如何通过富途牛牛进行长城A股交易</a></li>
			<li><a href="https://www.futu5.com/faq/topic444">8 支持的订单及交易类型</a></li>
			<li><a href="https://www.futu5.com/faq/topic679">风险披露</a></li>
			<li><a href="https://www.futu5.com/faq/topic694">什么是住址证明？</a></li>
			<li><a href="https://www.futu5.com/faq/topic719">线下见证是否需要预约？</a></li>
			<li><a href="https://www.futu5.com/faq/topic724">线下见证需要带哪些材料？</a></li>
			<li><a href="https://www.futu5.com/faq/topic729">见证需要多长时间？</a></li>
			<li><a href="https://www.futu5.com/faq/topic734">所在城市没有见证点，怎么见证？</a></li>
			<li><a href="#">牛牛社区限制哪些行为？</a></li>
			<li><a href="https://www.futu5.com/faq/topic1311">港股收费标准</a></li>
			<li><a href="https://www.futu5.com/faq/topic35">港股的交易单位是多少？都是100股一手吗？</a></li>
			<li><a href="https://www.futu5.com/faq/topic287">如何把资金转入富途证券账户？</a></li>
			<li><a href="https://www.futu5.com/faq/topic150">银证转账-汇总指引</a></li>
			<li><a href="https://www.futu5.com/faq/topic614">★汇款失败常见原因★（new）</a></li>
			<li><a href="https://www.futu5.com/faq/topic160">到账时间说明 - 大陆网银跨境汇款</a></li>
			<li><a href="https://www.futu5.com/faq/topic283">如何把富途里港股和美股的钱相互兑换？</a></li>
			<li><a href="https://www.futu5.com/faq/topic449">什么是子账户</a></li>
			<li><a href="https://www.futu5.com/faq/topic454">怎样获取子账户</a></li>
			<li><a href="https://www.futu5.com/faq/topic459">怎样查看子账户信息</a></li>
			<li><a href="https://www.futu5.com/faq/topic43">美股收费标准</a></li>
			<li><a href="https://www.futu5.com/faq/topic89">美股交易时间</a></li>
			<li><a href="https://www.futu5.com/faq/topic89">日结单查询</a></li>
			<li><a href="https://www.futu5.com/faq/topic90">美股的最小交易单位是多少？</a></li>
			<li><a href="https://www.futu5.com/faq/topic114">美股结算交收机制怎样的？</a></li>
			<li><a href="https://www.futu5.com/faq/topic125">港股如何进行结算和交收？</a></li>
			<li><a href="https://www.futu5.com/faq/topic116">牛熊证强制回收后剩余价值如何计算？</a></li>
			<li><a href="https://www.futu5.com/faq/topic118">买卖窝轮/牛熊证会产生什么费用？</a></li>
			<li><a href="https://www.futu5.com/faq/topic119">牛熊证到期或回收后剩余价值怎么结算给客户？</a></li>
		</ul>
	</div>
</div>