<div ng-controller="history">
	<div class="zf_biao">
				<h3>发展历程</h3>
			</div>
			<div class="zf_mainn">
				<div class="zf_fz">
					<ul class="zf_zul">
						<li class="zf_fzn">
							<em class="zf_fem"></em>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
					</ul>
				</div>
				<div class="zf_fz1">
					<span>2016年</span>
					<em class="zf_fz2"></em>
				</div>
				<div class="zf_fz">
					<ul class="zf_zul">
						<li class="zf_fzn"></li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
					</ul>
				</div>
				<div class="zf_fz1">
					<span>2015年</span>
					<em class="zf_fz2"></em>
				</div>
				<div class="zf_fz">
					<ul class="zf_zul">
						<li class="zf_fzn"></li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
					</ul>
				</div>
				<div class="zf_fz1">
					<span>2014年</span>
					<em class="zf_fz2"></em>
				</div>
				<div class="zf_fz">
					<ul class="zf_zul">
						<li class="zf_fzn"></li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
					</ul>
				</div>
				<div class="zf_fz1">
					<span>2013年</span>
					<em class="zf_fz2"></em>
				</div>
				<div class="zf_fz">
					<ul class="zf_zul">
						<li class="zf_fzn"></li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
					</ul>
				</div>
				<div class="zf_fz1">
					<span>2012年</span>
					<em class="zf_fz2"></em>
				</div>
				<div class="zf_fz">
					<ul class="zf_zul">
						<li class="zf_fzn"></li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
					</ul>
				</div>
				<div class="zf_fz1">
					<span>2011年</span>
					<em class="zf_fz2"></em>
				</div>
				<div class="zf_fz">
					<ul class="zf_zul">
						<li class="zf_fzn"></li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
					</ul>
				</div>
				<div class="zf_fz1">
					<span>2010年</span>
					<em class="zf_fz2"></em>
				</div>
				<div class="zf_fz">
					<ul class="zf_zul">
						<li class="zf_fzn"></li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
						<li>
							<i></i>
							<p class="zf_time">2016.10.26</p>
							<p>富途牛牛 for Mac V4.5.2上线，支持观看直播、手机号注册登录，新增美股ETF、港股H股、面板选股组件、个股关联板块等特性；</p>
						</li>
					</ul>
				</div>
				<div class="zf_fz1">
					<span>2009年</span>
					<em class="zf_fz2"></em>
				</div>
			</div>
</div>