<div ng-controller="honour">
	<div class="j_cont_chanp"><!--荣誉奖项-->
		<span class="j_cont_title">
			<p>分类:</p>
			<h1>荣誉奖项</h1>
		</span>
		<div class="j_cont_chanp_tw">
			<h1>专业交易员原来是这么炒股的</h1>
			<p class="j_cont_chanp_tw_p">
				<b>2015-8-3</b>
				<b>Futu</b>
			</p>
			<img src="../images/j_rongyu1.jpg">
			<p class="j_cont_chanp_tw_xq">
				富途牛牛有个独创的面板功能，提供100%个性化私人定制。投资者可以使用组件自由拼接面板，还可以方便地扩展到多屏显示。富途牛牛的面板就像一张画布，在面板里摆什么、怎么摆完全由用户决定。
			</p>
			<div class="j_cont_chanp_tw_more">
				<span>
					<a href="#">Read More</a>
					<s>》</s>
				</span>
			</div>
		</div>
		<div class="j_cont_chanp_tw">
			<h1>专业交易员原来是这么炒股的</h1>
			<p class="j_cont_chanp_tw_p">
				<b>2015-8-3</b>
				<b>Futu</b>
			</p>
			<img src="../images/j_rongyu2.jpg">
			<p class="j_cont_chanp_tw_xq">
				富途牛牛有个独创的面板功能，提供100%个性化私人定制。投资者可以使用组件自由拼接面板，还可以方便地扩展到多屏显示。富途牛牛的面板就像一张画布，在面板里摆什么、怎么摆完全由用户决定。
			</p>
			<div class="j_cont_chanp_tw_more">
				<span>
					<a href="#">Read More</a>
					<s>》</s>
				</span>
			</div>
		</div>
		
		<div class="j_cont_chanp_tw">
			<h1>专业交易员原来是这么炒股的</h1>
			<p class="j_cont_chanp_tw_p">
				<b>2015-8-3</b>
				<b>Futu</b>
			</p>
			<img src="../images/j_rongyu3.png">
			<p class="j_cont_chanp_tw_xq">
				富途牛牛有个独创的面板功能，提供100%个性化私人定制。投资者可以使用组件自由拼接面板，还可以方便地扩展到多屏显示。富途牛牛的面板就像一张画布，在面板里摆什么、怎么摆完全由用户决定。
			</p>
			<div class="j_cont_chanp_tw_more">
				<span>
					<a href="#">Read More</a>
					<s>》</s>
				</span>
			</div>
		</div>
		
		<div class="j_cont_chanp_tw">
			<h1>专业交易员原来是这么炒股的</h1>
			<p class="j_cont_chanp_tw_p">
				<b>2015-8-3</b>
				<b>Futu</b>
			</p>
			<img src="../images/j_rongyu4.png">
			<p class="j_cont_chanp_tw_xq">
				富途牛牛有个独创的面板功能，提供100%个性化私人定制。投资者可以使用组件自由拼接面板，还可以方便地扩展到多屏显示。富途牛牛的面板就像一张画布，在面板里摆什么、怎么摆完全由用户决定。
			</p>
			<div class="j_cont_chanp_tw_more">
				<span>
					<a href="#">Read More</a>
					<s>》</s>
				</span>
			</div>
		</div>
		
		<div class="j_cont_chanp_tw">
			<h1>专业交易员原来是这么炒股的</h1>
			<p class="j_cont_chanp_tw_p">
				<b>2015-8-3</b>
				<b>Futu</b>
			</p>
			<img src="../images/j_rongyu4.png">
			<p class="j_cont_chanp_tw_xq">
				富途牛牛有个独创的面板功能，提供100%个性化私人定制。投资者可以使用组件自由拼接面板，还可以方便地扩展到多屏显示。富途牛牛的面板就像一张画布，在面板里摆什么、怎么摆完全由用户决定。
			</p>
			<div class="j_cont_chanp_tw_more">
				<span>
					<a href="#">Read More</a>
					<s>》</s>
				</span>
			</div>
		</div>
		
		<div class="j_cont_chanp_tw">
			<h1>专业交易员原来是这么炒股的</h1>
			<p class="j_cont_chanp_tw_p">
				<b>2015-8-3</b>
				<b>Futu</b>
			</p>
			<img src="../images/j_rongyu6.png">
			<p class="j_cont_chanp_tw_xq">
				富途牛牛有个独创的面板功能，提供100%个性化私人定制。投资者可以使用组件自由拼接面板，还可以方便地扩展到多屏显示。富途牛牛的面板就像一张画布，在面板里摆什么、怎么摆完全由用户决定。
			</p>
			<div class="j_cont_chanp_tw_more">
				<span>
					<a href="#">Read More</a>
					<s>》</s>
				</span>
			</div>
		</div>
		
		<div class="j_cont_chanp_tw">
			<h1>专业交易员原来是这么炒股的</h1>
			<p class="j_cont_chanp_tw_p">
				<b>2015-8-3</b>
				<b>Futu</b>
			</p>
			<img src="../images/j_rongyu7.png">
			<p class="j_cont_chanp_tw_xq">
				富途牛牛有个独创的面板功能，提供100%个性化私人定制。投资者可以使用组件自由拼接面板，还可以方便地扩展到多屏显示。富途牛牛的面板就像一张画布，在面板里摆什么、怎么摆完全由用户决定。
			</p>
			<div class="j_cont_chanp_tw_more">
				<span>
					<a href="#">Read More</a>
					<s>》</s>
				</span>
			</div>
		</div>
	</div>	
</div>