<div ng-controller="index">
	<div class="zwd_banner">
		<div id="zwd_content" class="zwd_content">
			<div class="zwd_banner_item zwd_dis">
				<div class="zwd_banner_inner zwd_banner_one">
					<div class="zwd_banner_1000">
						<img src="../images/text.png" alt="港股美股 我选富途"/>
						<p>腾讯战略投资 互联网券商NO.1</p>
					</div>
				</div>
			</div>
			<div class="zwd_banner_item">
				<div class="zwd_banner_inner zwd_banner_two">
					<a class="zwd_link" href="javascript:;" title="喜新念旧均有礼"></a>
				</div>
			</div>
			<div class="zwd_banner_item">
				<div class="zwd_banner_inner zwd_banner_three">
					<a class="zwd_link" href="javascript:;" title="港股Lv2二期活动"></a>
				</div>
			</div>
			<div class="zwd_banner_item">
				<div class="zwd_banner_inner zwd_banner_four">
					<a class="zwd_link" href="javascript:;" title="富途4周年活动聚合页"></a>
				</div>
			</div>
			<div class="zwd_banner_item">
				<div class="zwd_banner_inner zwd_banner_five">
					<a class="zwd_link" href="javascript:;" title="毕马威"></a>
				</div>
			</div>
		</div>
		<div class="zwd_leftbtn">
			<a id="zwd_lbtn" class="zwd_lbtn" href="javascript:;">
				
			</a>
		</div>
		<div class="zwd_rightbtn">
			<a id="zwd_rbtn" class="zwd_rbtn" href="javascript:;">
				
			</a>
		</div>
		<div class="zwd_trigger">
			<div id="zwd_triggers" class="zwd_trigger_1000">
				<a class="zwd_trigger_item zwd_opa" href="javascript:;">
					<span></span>
				</a>
				<a class="zwd_trigger_item" href="javascript:;">
					<span></span>
				</a>
				<a class="zwd_trigger_item" href="javascript:;">
					<span></span>
				</a>
				<a class="zwd_trigger_item" href="javascript:;">
					<span></span>
				</a>
				<a class="zwd_trigger_item" href="javascript:;">
					<span></span>
				</a>
			</div>
		</div>
		<a href="javascript:;" class="btn_setup">立即开户</a>
	</div>
	<script type="text/javascript">
//轮播图
		var trigger = $("#zwd_triggers").children();
		var timer = null;
		var nindex = 0;
		
		for(var i=0;i<trigger.length;i++){
				trigger[i].index = i;
				trigger[i].onclick = function(){
					for(var i=0;i<trigger.length;i++){
						trigger[i].className = "zwd_trigger_item";
						$("#zwd_content").children().fadeOut()
					}
					nindex=this.index;
					this.className = "zwd_trigger_item zwd_opa";
					$("#zwd_content").children().eq(this.index).fadeIn()
				}
		}
//		——————————————————————————————————————————————	
		$(".zwd_leftbtn").mouseover(function(){
			$("#zwd_lbtn").css({"opacity":"1"})
			$("#zwd_rbtn").css({"opacity":"1"})
		})
		$(".zwd_rightbtn").mouseover(function(){
			$("#zwd_lbtn").css({"opacity":"1"})
			$("#zwd_rbtn").css({"opacity":"1"})
		})
		$(".zwd_leftbtn").mouseout(function(){
			$("#zwd_lbtn").css({"opacity":"0"})
			$("#zwd_rbtn").css({"opacity":"0"})
		})
		$(".zwd_rightbtn").mouseout(function(){
			$("#zwd_lbtn").css({"opacity":"0"})
			$("#zwd_rbtn").css({"opacity":"0"})
		})
//		——————————————————————————————————————————————
		$("#zwd_content").mouseover(function(){
			clearInterval(timer)
			$("#zwd_lbtn").css({"opacity":"1"})
			$("#zwd_rbtn").css({"opacity":"1"})
		})
		$("#zwd_content").mouseout(function(){
			$("#zwd_lbtn").css({"opacity":"0"})
			$("#zwd_rbtn").css({"opacity":"0"})
			lunbo()
		})
		
		$("#zwd_lbtn").click(function(){
			nindex--;
			if(nindex<0){
				nindex=trigger.length-1
			}
			for(var i=0;i<trigger.length;i++){
					trigger[i].className = "zwd_trigger_item";
					$("#zwd_content").children().fadeOut();
				}
			trigger[nindex].className = "zwd_trigger_item zwd_opa";
			$("#zwd_content").children().eq(nindex).fadeIn();
		})
		
		$("#zwd_rbtn").click(function(){
			nindex++;
			if(nindex>=trigger.length){
					nindex=0
			}
			for(var i=0;i<trigger.length;i++){
					trigger[i].className = "zwd_trigger_item";
					$("#zwd_content").children().fadeOut();
				}
			trigger[nindex].className = "zwd_trigger_item zwd_opa";
			$("#zwd_content").children().eq(nindex).fadeIn();
		})
		
		function lunbo(){
			clearInterval(timer)
			timer = setInterval(function(){
				nindex++;
				if(nindex>=trigger.length){
					nindex=0
				}
				for(var i=0;i<trigger.length;i++){
						trigger[i].className = "zwd_trigger_item";
						$("#zwd_content").children().fadeOut()
					}
				trigger[nindex].className = "zwd_trigger_item zwd_opa";
				$("#zwd_content").children().eq(nindex).fadeIn()
			},5000)
		}
		lunbo()
//轮播图--
	</script>
	<div class="zwd_quick" id="zwd_quick">
		<div class="zwd_quick_nav">
			<div class="zwd_info">
				<span class="zwd_num">2,817,827人</span>
				正在使用富途
			</div>
			<div class="zwd_info">
				<span class="zwd_num">$3,442.91亿</span>
				通过富途发生的交易
			</div>
			<a class="zwd_btn zwd_zcbtn" href="javascript:;">注册</a>
			<a class="zwd_btn zwd_dlbtn" href="javascript:;">登录</a>
		</div>
	</div>
	<script type="text/javascript">
		$("#zwd_quick").flowUp(".zwd_quick_nav", { transalteY: 100, duration: 1 });
	</script>
	<div id="zwd_onestop" class="zwd_onestop">
		<h2 class="zwd_h2">一个账户投资港美股</h2>
		<h3 class="zwd_h3">腾讯 | 阿里 | 苹果 | 谷歌 身边的好公司尽在港美股</h3>
		<div id="zwd_line_div" class="zwd_line_div">
			<div class="zwd_dotwrap zwd_dot_01">
				<span class="zwd_dot">
					<i></i>
				</span>
			</div>
			<div class="zwd_dotwrap zwd_dot_02">
				<span class="zwd_dot">
					<i></i>
				</span>
			</div>
			<div class="zwd_dotwrap zwd_dot_03">
				<span class="zwd_dot">
					<i></i>
				</span>
			</div>
			<div class="zwd_dotwrap zwd_dot_04">
				<span class="zwd_dot">
					<i></i>
				</span>
			</div>
			<div class="zwd_dotwrap zwd_dot_05">
				<span class="zwd_dot">
					<i></i>
				</span>
			</div>
			<div class="zwd_dotwrap zwd_dot_06">
				<span class="zwd_dot">
					<i></i>
				</span>
			</div>
			<img class="zwd_web_img" src="../images/line.png"/>
			<img class="zwd_mobile_img" src="../images/lineMobile.png"/>
		</div>
	</div>
	<script type="text/javascript">
		$("#zwd_onestop").flowUp(".zwd_h2", { transalteY: 100, duration: 1 });
		$("#zwd_onestop").flowUp(".zwd_h3", { transalteY: 150, duration: 1 });
		var linediv = document.getElementById("zwd_line_div");
		var mspan = linediv.getElementsByTagName("span");
		for(var i=0;i<mspan.length;i++){
			mspan[i].onmouseover = function(){
				for(var i=0;i<mspan.length;i++){
					mspan[i].className = "zwd_dot"
				}
				this.className = "zwd_dot zwd_dot_hover"
			}
		}
	</script>
</div>












