<div ng-controller="joinus">
	<div class="zf_biao">
				<h3>加入富途</h3>
			</div>
			<div class="zf_mainn">
				<div class="zf_jiaru">
					<h3><a href="#">活动运营</a></h3>
					<h4><span style="margin-left:0;">深圳 经验1-3年 本科及以上 全职</span></h4>
					<p class="zf_jiaru1">发布时间：2016.06.14</p>
				</div>
				<div class="zf_jiaru">
					<h3><a href="#">活动运营</a></h3>
					<h4><span style="margin-left:0;">深圳 经验1-3年 本科及以上 全职</span></h4>
					<p class="zf_jiaru1">发布时间：2016.06.14</p>
				</div>
				<div class="zf_jiaru">
					<h3><a href="#">活动运营</a></h3>
					<h4><span style="margin-left:0;">深圳 经验1-3年 本科及以上 全职</span></h4>
					<p class="zf_jiaru1">发布时间：2016.06.14</p>
				</div>
				<div class="zf_jiaru">
					<h3><a href="#">活动运营</a></h3>
					<h4><span style="margin-left:0;">深圳 经验1-3年 本科及以上 全职</span></h4>
					<p class="zf_jiaru1">发布时间：2016.06.14</p>
				</div>
				<div class="zf_jiaru">
					<h3><a href="#">活动运营</a></h3>
					<h4><span style="margin-left:0;">深圳 经验1-3年 本科及以上 全职</span></h4>
					<p class="zf_jiaru1">发布时间：2016.06.14</p>
				</div>
			</div>
			<div class="zf_mt3">
				<div class="zf_mt4">
					<div class="zf_mt5">
						<a href="#" class="zf_mta1">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						
						<a href="#" class="zf_mtaa zf_mtaa1">
							<font>首页</font>
						</a>
						<a href="#" class="zf_mtaa zf_mtaa1">
							<font>上一页</font>
						</a>
						<a href="#" class="zf_mtaa">
							<font>下一页</font>
						</a>
						<a href="#" class="zf_mtaa">
							<font>末页</font>
						</a>
					</div>
				</div>
			</div>
</div>