<div ng-controller="link">
	<div class="zf_biao">
				<h3>友情链接</h3>
			</div>
			<div class="zf_mainn">
				<div class="zf_you">
					图片链接
					<span class="gray01" style="font-weight:normal; font-size:12px;color:#a5a9af;">（排名不分先后）</span>
				</div>
				<div class="zf_you1">
					<ul>
						<li>
							<a href="#"><img alt="腾讯云" src="images/qcloudlink.png"></a>
						</li>
					</ul>
				</div>
				<div class="zf_you">
					图片链接
					<span class="gray01" style="font-weight:normal; font-size:12px;color:#a5a9af;">（排名不分先后）</span>
				</div>
				<div class="zf_you2">
					<a href="#">腾讯股票</a>
				</div>
				<div class="zf_you3">
					我们的链接
				</div>
				<div class="zf_you4">
					<div class="zf_you5">
						<input style="padding:7px 5px;" name="futu5_site_url" type="text" class="inputTxt01 fl" readonly="true" value="<a href=&quot;//www.futu5.com&quot; title=&quot;美股港股,我选富途-富途证券&quot; target=&quot;_blank&quot;>富途证券</a>">
						<a href="#" class="zf_htp">复制连接代码</a>
					</div>
					<div style="padding:10px 0px 20px 0px;" class="zf_hyy">
					贵站在添加好 富途证券 的友情链接后，在这里提交贵站的友情链接申请，在得到确认并审核通过后，将在本页的相关位置展示，优质链接还可进入富途网首页展示。<br>
					注：本站只接受优质网站的文字形式链接，详情请 <a href="#">联系我们</a>
				</div>
				<a href="#" class="zf_htp1">申请友情链接</a>
				</div>
				<div class="zf_ggg"></div>
			</div>
</div>