<div ng-controller="mediareport">
	<div class="zf_biao">
				<h3>媒体报道</h3>
			</div>
			<div class="zf_mainn">
				<div class="zf_mt1">
					<h3><a href="#">创业邦寻找独角兽 富途证券登上琅琊榜</a></h3>
					<h4>财经网<span>2016.01.28</span></h4>
					<div class="zf_mt2">
						<img alt="" src="images/media-logo.gif" style="margin:0 30px;" width="120">
					</div>
					<p>近日，在 2015 创业邦100未来领袖峰会上， “寻找下一个独角兽”成为主题。富途证券在此次峰会登上创业邦琅琊榜，荣获“创业邦中国年度创新成长企业 100 强”。</p>
				</div>
				<div class="zf_mt1">
					<h3><a href="#">富途证券登纽约时代广场 成新年首家受邀中国企业</a></h3>
					<h4>雷锋网<span>2016.01.06</span></h4>
					<div class="zf_mt2">
						<img alt="" src="images/media-logo.png" style="margin:0 30px;" width="120">
					</div>
					<p>新年伊始，互联网券商富途证券登录美国纽约时代广场，成为2016年首家受邀在纳斯达克大屏播放品牌广告的中国企业。</p>
				</div>
				<div class="zf_mt1" style="height:180px;">
					<h3><a href="#">富途证券董事长李华：打造闭环经纪生态圈</a></h3>
					<h4>中国证券报<span>2015.11.13</span></h4>
					<div class="zf_mt2">
						<img alt="" src="images/hg.jpg" style="margin:0 30px;" width="120">
					</div>
					<p>“作为一间注册于香港，专注于港股、美股交易服务的互联网券商，富途证券用三年的时间走完了大多数传统券商十年才能走完的路。”富途证券创始人、董事长李华在其产品发布暨三周年志庆上回顾了富途快速发展的三年历程。</p>
				</div>
				<div class="zf_mt1">
					<h3><a href="#">“互联网+”下的券商 最终还是要让客户收益最大化</a></h3>
					<h4>证券时报<span>2015.11.12</span></h4>
					<div class="zf_mt2">
						<img alt="" src="images/gh.jpg" style="margin:0 30px;" width="120">
					</div>
					<p>随着内地投资海外的需求日益增长，香港和美国的证券市场成为投资者试水海外的首选。香港拥有成熟且国际化程度高的证券市场，但是在互联网高度发达的今天，大多数券商仍然沿用传统的思路在经营；美国的券商，在针对国内投资者的本地化服务上也存在欠缺。李华称，富途证券正是捕捉到了这里的机会，顺势而为，针对投资者在投资港股、美股时遇到的各种困难，推出相应的产品和服务，为其投资境外提供便利。</p>
				</div>
				<div class="zf_mt1">
					<h3><a href="#">腾讯入股不差钱 富途证券要在内地设千个见证点</a></h3>
					<h4>界面<span>2015.11.12</span></h4>
					<div class="zf_mt2">
						<img alt="" src="images/media-logo.jpg" style="margin:0 30px;" width="120">
					</div>
					<p>在内地券商市场饱和的状态之下，未来以互联网为依托，内地投资者的境外投资业务将是机构争夺的另一块战场。</p>
				</div>
			</div>
			<div class="zf_mt3">
				<div class="zf_mt4">
					<div class="zf_mt5">
						<a href="#" class="zf_mta1">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">6</a>
						<a href="#">7</a>
						<a href="#">8</a>
						<a href="#">9</a>
						<a href="#">10</a>
						<a href="#">11</a>
						<a href="#" style="display:none">12</a>
						<a href="#" style="display:none">13</a>
						<a href="#">...14</a>
						<a href="#" class="zf_mtaa zf_mtaa1">
							<font>首页</font>
						</a>
						<a href="#" class="zf_mtaa zf_mtaa1">
							<font>上一页</font>
						</a>
						<a href="#" class="zf_mtaa">
							<font>下一页</font>
						</a>
						<a href="#" class="zf_mtaa">
							<font>末页</font>
						</a>
					</div>
				</div>
			</div>
</div>