<div ng-controller="oauth-agreement">
	<div class="zf_biao">
				<h3>富途登录服务协议</h3>
			</div>
			<div class="zf_dao">
				【导言】
			</div>
			<div class="zf_mainn">
				<p class="zf_deng">欢迎您使用富途登录服务！</p>
				<p class="zf_deng">为使用富途登录服务，您应当阅读并遵守《富途登录服务协议》（以下简称“本协议”）、《富途服务条款》、《富途免责及隐私声明》等相关协议、规则。	<strong>请您务必审慎阅读、充分理解各条款内容，特别是免除或限制责任的相应条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制或免除责任条款可能以加粗形式提示您注意。</strong></p>
				<p class="zf_deng">除非您已阅读并接受本协议所有条款，否则您无权使用富途登录服务（以下简称“本服务”）。<strong>您对本服务的任何登录、查看或使用富途牛牛号码登录、使用第三方网站、应用或服务等行为即视为您已阅读并同意本协议的约束。</strong></p>
				<p class="zf_deng">如果您未满18周岁，请在法定监护人的陪同下阅读本协议，并特别注意未成年人使用条款。</p>
			</div>
			<div class="zf_dao">
				一、【协议的范围】
			</div>
			<div class="zf_deng1">
				<div class="zf_deng2">
					<em>1.1</em>
					<p>【协议适用主体范围】</p>
				</div>
				<p>本协议是您与富途、第三方之间关于您使用富途登录服务所订立的协议。</p>
				<div class="zf_deng2">
					<em>1.2</em>
					<p>【本服务内容】</p>
				</div>
				<p>本协议项下的富途登录服务是指您可以通过使用富途牛牛号码登录第三方提供的网站、应用及使用第三方提供的服务等的服务（以下简称“本服务”）。（本协议中的“第三方”若无特别说明，均指运营您通过本服务登录的具体网站、应用或服务等的个人、法人或其他组织，该第三方与富途是不同的法律主体。）</p>
				<div class="zf_deng2">
					<em>1.3</em>
					<p>【协议关系及冲突条款】</p>
				</div>
				<strong>本协议被视为《富途服务条款》（链接地址：https://www.futu5.com/about/condition，若链接地址变更的，则以变更后的链接地址所对应的内容为准；其他链接地址变更的情形，均适用前述约定。）及《富途免责及隐私声明》（链接地址：https://www.futu5.com/about/disclaimer）的补充协议，是其不可分割的组成部分，与其构成统一整体。本协议与上述内容存在冲突的，以本协议为准。</strong>
				<p style="margin-top:10px;">本协议内容同时包括富途可能不断发布的关于本服务的相关协议、业务规则等内容。上述内容一经正式发布，即为本协议不可分割的组成部分，您同样应当遵守。</p>
			</div>
			<div class="zf_dao">
				二、【用户个人信息保护】
			</div>
			<p style="line-height:24px;text-indent: 2em;">为使用本服务，您须允许第三方获取、使用您的部分必要的个人信息和操作权限，比如您的富途牛牛头像、昵称、资产明细、订单明细和交易操作等，如果您不同意，您将无法使用本服务，也请您立即停止使用本服务。否则，您对本服务的任何登录、查看或任何使用富途牛牛号码登录、使用第三方网站、应用或服务等的行为，即视为您同意前述第三方对于您的个人信息获取、使用的约定。</p>
			<div class="zf_dao">
				二、【用户个人信息保护】
			</div>
			<p style="line-height:24px;text-indent: 2em;">为使用本服务，您须允许第三方获取、使用您的部分必要的个人信息和操作权限，比如您的富途牛牛头像、昵称、资产明细、订单明细和交易操作等，如果您不同意，您将无法使用本服务，也请您立即停止使用本服务。否则，您对本服务的任何登录、查看或任何使用富途牛牛号码登录、使用第三方网站、应用或服务等的行为，即视为您同意前述第三方对于您的个人信息获取、使用的约定。</p>
			<div class="zf_dao">
				二、【用户个人信息保护】
			</div>
			<p style="line-height:24px;text-indent: 2em;">为使用本服务，您须允许第三方获取、使用您的部分必要的个人信息和操作权限，比如您的富途牛牛头像、昵称、资产明细、订单明细和交易操作等，如果您不同意，您将无法使用本服务，也请您立即停止使用本服务。否则，您对本服务的任何登录、查看或任何使用富途牛牛号码登录、使用第三方网站、应用或服务等的行为，即视为您同意前述第三方对于您的个人信息获取、使用的约定。</p>
			<div class="zf_dao">
				二、【用户个人信息保护】
			</div>
			<p style="line-height:24px;text-indent: 2em;">为使用本服务，您须允许第三方获取、使用您的部分必要的个人信息和操作权限，比如您的富途牛牛头像、昵称、资产明细、订单明细和交易操作等，如果您不同意，您将无法使用本服务，也请您立即停止使用本服务。否则，您对本服务的任何登录、查看或任何使用富途牛牛号码登录、使用第三方网站、应用或服务等的行为，即视为您同意前述第三方对于您的个人信息获取、使用的约定。</p>
			<div class="zf_dao">
				二、【用户个人信息保护】
			</div>
			<p style="line-height:24px;text-indent: 2em;">为使用本服务，您须允许第三方获取、使用您的部分必要的个人信息和操作权限，比如您的富途牛牛头像、昵称、资产明细、订单明细和交易操作等，如果您不同意，您将无法使用本服务，也请您立即停止使用本服务。否则，您对本服务的任何登录、查看或任何使用富途牛牛号码登录、使用第三方网站、应用或服务等的行为，即视为您同意前述第三方对于您的个人信息获取、使用的约定。</p>
			<div class="zf_dao">
				二、【用户个人信息保护】
			</div>
			<p style="line-height:24px;text-indent: 2em;">为使用本服务，您须允许第三方获取、使用您的部分必要的个人信息和操作权限，比如您的富途牛牛头像、昵称、资产明细、订单明细和交易操作等，如果您不同意，您将无法使用本服务，也请您立即停止使用本服务。否则，您对本服务的任何登录、查看或任何使用富途牛牛号码登录、使用第三方网站、应用或服务等的行为，即视为您同意前述第三方对于您的个人信息获取、使用的约定。</p>
			<div class="zf_dao">
				二、【用户个人信息保护】
			</div>
			<p style="line-height:24px;text-indent: 2em;">为使用本服务，您须允许第三方获取、使用您的部分必要的个人信息和操作权限，比如您的富途牛牛头像、昵称、资产明细、订单明细和交易操作等，如果您不同意，您将无法使用本服务，也请您立即停止使用本服务。否则，您对本服务的任何登录、查看或任何使用富途牛牛号码登录、使用第三方网站、应用或服务等的行为，即视为您同意前述第三方对于您的个人信息获取、使用的约定。</p>
</div>