<div ng-controller="one">
	<div class="zf_biao">
				<h3>公司简介</h3>
			</div>
			<div class="zf_mainn">
				<img alt="关于富途证券" src="images/about01.jpg" align="right" style="margin-left:30px;">
				<p class="zf_gp1">自2000年香港第一次出现证券网上交易以来，网上交易已经存在了好长时间。然而十多年过去了，香港的网络证券经纪服务依然缺乏真正让人满意的创新和进步。富途的诞生，正源于我们重塑香港网络证券经纪服务的愿景和信心。</p>
				<p class="zf_gp1">作为资深互联网从业者的我们，当以一流互联网产品的要求和服务水准来审视香港网络证券经纪服务，我们发现有太多可以改善的空间：设计粗糙的交易软件、高昂的交易成本、漫不经心的客户服务……</p>
				<p class="zf_gp1">于是，把我们多年来对互联网产品技术的积累和理解以及互联网行业与生俱来的体验至上、客户第一的理念带入到香港证券经纪行业，并由此带来改变，便成为了我们的使命。</p>
			</div>
			<div class="zf_biao">
				<h3>客户资产保障</h3>
			</div>
			<p class="zf_gp1">投资者的信心是香港维系其全球金融中心地位的有力支撑。香港政府和香港证监会一直致力于加强对投资者的有效保障。</p>
			<p class="zf_gp1">清晰严明的法规条例是其重要的监管手段。富途证券严格遵循《证券及期货条例》中有关客户资产的规定：持牌法团须将属于客户之款项及证券分别存放于信托账户内及法例指定的场所；若非获得客户授权，禁止处置客户账户内的证券及资金。</p>
			<p class="zf_gp1">投资者赔偿基金是香港政府为保障投资者的利益而成立的。任何因持牌法团的违规操作而导致任何国籍的投资者蒙受金钱损失，而这些违规操作涉及香港交易所买卖的产品，则赔偿基金会向投资者支付获准申索的赔偿金，证券及期货合约的赔偿上限为每人15万港币。</p>
			<p class="zf_gp1">富途证券亦遵循香港证监会对内部监管和风险控制的要求，对业务运营、交易结算和安全监控等岗位进行职能分隔，从而确保客户资产的安全。</p>
		</div>
</div>