<div ng-controller="partner">
	<div class="zf_biao">
				<h3>合作伙伴</h3>
			</div>
			<div class="zf_mainn">
				<div class="zf_hz">
					<h3>合作银行</h3>
				</div>
				<div class="zf_hz1">
					<p class="zf_hzp1">
						富途证券与招商银行合作推出“<a href="#">银证转账</a>”服务。用户能安全便捷地相互划转银行账户与富途账户的资金。富途是目前仅有的9家达成此合作的券商之一。
					</p>
					<p class="zf_hzp1">
						客户资产独立托管于工银亚洲、法巴银行、中银香港、恒生等知名机构，所有权属于客户，保障客户资产安全。
					</p>
					<p class="zf_hzp1" style="margin-bottom: 10px;padding-top: 10px;">
						<img src="images/n1.jpg" width="720" height="145">
					</p>
				</div>
				<div class="zf_kong"></div>
				<div class="zf_hz">
					<h3>合作网站与应用</h3>
				</div>
				<div class="zf_hz1">
					<p class="zf_hzp1">
						富途证券是目前仅有的两家与腾讯自选股进行深度对接交易的券商之一。客户可在自选股APP、微信钱包及新浪微财富内，通过富途下单交易。
					</p>
					<p class="zf_hzp1">
						与QQ会员、财付通联合推出特色开户服务，致力为客户提供最优质股市投资直通车。
					</p>
					<p class="zf_hzp1" style="margin-bottom: 10px;padding-top: 10px;">
						<img src="images/n2.png" width="720" height="145">
					</p>
				</div>
			</div>
</div>