<div ng-controller="shareholder">
	<div class="zf_biao">
		<h3>股东背景</h3>
	</div>
			<div class="zf_mainn">
				<li class="zf_guli">
					<div class="zf_gudiv">
						<img src="images/gd01.jpg" width="230" height="164" alt="富途股东 腾讯控股">
					</div>
					<h4>腾讯控股(<a href="#">00700.HK</a>)</h4>
					<p class="zf_guzi">腾讯是中国乃至全球的互联网行业领导者，于2004年6月16日在香港联交所主板公开上市(股票代号：00700.HK)，目前市值过万亿港币。2011年，腾讯成立产业共赢基金，在其开放平台的基础上，以用户价值为依归，在整个互联网价值链上发现和扶持优秀的互联网创新企业。累计投资规模超过300亿元，投资项目遍布程序软件、手机应用、游戏、互联网金融、在线旅游、电商等十几个领域。</p>
				</li>
				<li class="zf_guli">
					<div class="zf_gudiv">
						<img src="images/gd02.jpg" width="230" height="164" alt="富途股东 腾讯控股">
					</div>
					<h4>经纬创投</h4>
					<p class="zf_guzi">经纬创投创立于1977年，是美国历史最悠久的创业投资基金之一，在美国与红杉资本、KPCB等著名投资机构齐名。经纬中国正式成立于2008年，团队成员由成功创业者和经验丰富的投资者共同组成。经纬中国秉承着对创业者的尊重、谨慎的投资态度和放远长期的核心投资理念，投资项目遍布科技、媒体和通讯（TMT）、健康医疗、消费者服务、清洁能源等众多领域。</p>
				</li>
				<li class="zf_guli">
					<div class="zf_gudiv">
						<img src="images/gd03.jpg" width="230" height="164" alt="富途股东 腾讯控股">
					</div>
					<h4>红杉资本</h4>
					<p class="zf_guzi">红杉资本创始于1972年，迄今为止，因其投资而上市的公司总市值超过纳斯达克市场总市值的20%，其中包括Apple, Google等众多具有全球影响力的企业。红杉资本中国基金成立于2005年9月，目前管理约20亿美元的海外基金和近40亿人民币的国内基金。红杉中国的团队兼备国际发展视野和本土创业经验，在科技/传媒、消费品/服务、医疗健康和新能源/清洁技术/先进制造等投资了众多具有代表意义的高成长公司。</p>
				</li>
			</div>
</div>