<div ng-controller="xiangqing">
	<div class="j_cont_left"><!--分类详情-->
		<h1>富途获6000万美元B轮融资 腾讯再次领投</h1>
		<p class="j_cont_left_p1">
			<b>2015-8-3</b>
			<b>Futu</b>
		</p>
		<span>
			<img src="images/j_small_banner.png">
		</span>
		<p class="j_cont_left_p2">
			据知情人士透露，由前腾讯第18号员工李华创立的，专注于提供港股和美股交易服务的富途证券已于今年4月完成B轮融资，总融资额6000万美元，本轮融资继续由富途的A轮股东完成，腾讯领投、经纬和红杉跟投。
		</p>
		<p class="j_cont_left_p2">
		去年富途曾获得来自腾讯领投、经纬和红杉跟投的1000万美元A轮融资。纵观整个投融资市场，A、B轮融资投资方完全相同的情况并不多见，三大顶级投资机构再次加码富途，充分说明资本大咖们对富途发展方向及前景的高度认同。
		</p>
		<p class="j_cont_left_p2">
			该知情人士还透露，本轮融资过程中亦有多家其他业内知名投资机构对富途表达了强烈的投资意愿。
		</p>
		<p class="j_cont_left_p2">
			富途证券是一间注册于香港的互联网券商，致力于通过互联网的方法来革新传统券商体验，为广大投资者提供更快速好用的港股、美股和A股投资交易服务。在两年多的时间里，富途的用户数快速超过30万，累计交易额超过1000亿港币，单月成交额超过200亿港币。<br/>
			由富途研发的集行情、交易、社交于一体的“富途牛牛”，是业内唯一一款横跨Windows、Mac、iOS、Android、Web的金融交易社交软件。
		</p>
		<p class="j_cont_left_p2">
			据了解，富途的B轮融资，除用于进一步加大在产品研发上的投入和充实资本金之外，还将用于启动面向港股和美股市场的Margin业务。
		</p>
		<p class="j_cont_left_p3">
			<i>来源 :</i>
			<i>南极圈</i>
		</p>
		<p class="j_cont_left_p4">
			<img src="images/wj_laiyuan.jpg">
			<b>媒体报道</b>
		</p>
		<!--左边内容最后部分-->
		<div class="j_cont_left_last_div">
			<b>《</b> 
			<a href="#">Leaf：写在富途证券上线运营两周年</a>
			<a href="#">Leaf：写在富途证券上线运营两周年</a>
			<b>》 </b> 
			</p>
		</div>
	</div>
</div>